.navbar {
  position: absolute;
  top:0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 3;
  height: $navbar-height;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: $gray-dark;
  
  .navbar-left-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    i {
    transition: font-size 0.25s linear;
    }
  
    i:hover {
    font-size: 30px;
    }
  
    input {
    border: none;
    border-bottom: 1px solid $gray-dark;
    transition: border-width 0.25s linear;
    }
  
    input:focus {
    border-bottom: 3px solid $gray-dark;
    }
  }
  
  .navbar-right-content {
    ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  
    li {
      padding: 0 10px
    }
  
    li:last-child {
      padding-right: 0px
    }
    }
  }
  
  .navbar-header {
    font-weight: bold;
    letter-spacing: 2px;
    color: #000;
    font-size: 20px;
    position: absolute;
    left: calc(50% - 50px);
  }
  }