@import "./variables.scss";

.navbar {
  position: absolute;
  top:0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 3;
  height: $navbar-height;
  border-bottom: 1px solid $border-color;
}

.sidebar{
  position: absolute;
  top:$navbar-height;
  bottom: 0px;
  width: $sidebar-width;
  z-index: 2;
  border-right: 1px solid $border-color;
}

.chat{
  position: absolute;
  top:$navbar-height;
  bottom: 0px;
  left: $sidebar-width;
  right: 0px;
  background-color: $chat-bg;

  @at-root #{&}-response {
    position: fixed;
    bottom: 0;
    display: flex;

    textarea {
      width: 100%;
    }
  }
}