//Dimensions
$navbar-height: 45px;
$sidebar-width: 350px;
$chat-centered-width: 900px;

//Colors
$gray-light: #F6F6F6;
$gray-light-1: #FAFAFA;
$gray:#EFEFEF;
$gray-dark: #A9AAAA;
$gray-dark-1: #E8E8E8;

$blue-light: #C1D5DB;
$blue-light-1: #CDEAFC;
$blue: #6AB2D2;
$blue-accent: #009FF7;
$blue-dark: #1D5691;

//Application of Colors
$chat-bg: $gray-light;
$border-color: $gray;